{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}
    Admin | Modifier
{% endblock title %}

 {% block body %}


     <div class="container">


         {% for message in app.flashes('success') %}
             <div class="alert alert-success alert-dismissible fade show" role="alert">
                 {{ message }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
         {% endfor %}
         {% for message in app.flashes('error') %}

             <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{ message }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
         {% endfor %}


         <div class="row justify-content-center">
             <div class="login_part_form" style="margin-left:25%;margin-right:25%">
                 <div class="login_part_form_iner">
                     <h3>
                         Modifier User</h3>
                     {{ form_start(form) }}
                     <div class="col-md-12 form-group p_star ">
                         {{ form_errors(form.first_name) }}
                         {{ form_widget(form.first_name,{ 'attr':{'placeholder':'First Name', 'class':'form-control' }}) }}
                     </div>
                     <div class="col-md-12 form-group p_star ">
                         {{ form_errors(form.last_name) }}
                         {{ form_widget(form.last_name,{ 'attr':{'placeholder':'Last Name', 'class':'form-control' }}) }}
                     </div>
                     <div class="col-md-12 form-group p_star ">
                         {{ form_errors(form.email) }}
                         {{ form_widget(form.email,{ 'attr':{'placeholder':'Email', 'class':'form-control' }}) }}
                     </div>
                     <div class="col-md-12 form-group p_star">
                         {{ form_errors(form.password) }}
                         {{ form_widget(form.password,{ 'attr':{'placeholder':'Password', 'class':'form-control' }}) }}
                     </div>
                     <div class="col-md-12 form-group p_star">
                         {{ form_errors(form.confirm_password) }}
                         {{ form_widget(form.confirm_password,{ 'attr':{'placeholder':'Confirm Password', 'class':'form-control' }}) }}
                     </div>
                     <div class="col-md-12 form-group p_star">
                         <div class="row justify-content-center">
                             <div class="col">
                                 {{ form_errors(form.avatar) }}
                                 {{ form_widget(form.avatar,{'attr': {'id':'inscription_avatar', 'onchange':'loadFile(event)'  }}) }}
                             </div>
                             <div class="col">
                                 <img id="output" width="100"/>
                             </div>
                         </div>

                     </div>
                     <div class="container">
                         {{ form_end(form) }}
                     </div>
                 </div>
             </div>
         </div>
     </div>


     </div>
 {% endblock body %}


