<section class="login_part section_padding ">
    <div class="container">
        <div class="row justify-content-center">


            <div class="tab-content" id="myTabContent" style="margin-top: 5%">
                <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                    <div class="col-md-12 form-group p_star ">
                        {{ form_errors(form.Id_act) }}
                        {{form_widget(form.Id_act,{ 'attr':{'placeholder':'Identifiant', 'class':'form-control' }}) }}
                    </div>
                    <div class="col-md-12 form-group p_star ">
                        {{ form_errors(form.Type) }}
                        {{form_widget(form.Type,{ 'attr':{'placeholder':'Type', 'class':'form-control' }}) }}
                    </div>
                    <div class="col-md-12 form-group p_star" >
                        {{ form_errors(form.Description) }}
                        {{form_widget(form.Description,{ 'attr':{'placeholder':'Description', 'class':'form-control' }})}}
                    </div>

                    <div class="col-md-12 form-group p_star" >
                        {{ form_label(form.Date_val,"Date de validité") }}
                        {{ form_errors(form.Date_val) }}
                        {{form_widget(form.Date_val,{ 'attr':{'placeholder':'Date de validité' }})}}
                    </div>
                    <div class="col-md-12 form-group p_star" >
                        {{ form_errors(form.Categorie) }}
                        {{form_widget(form.Categorie,{ 'attr':{'placeholder':'Categorie', 'class':'form-control' }})}}
                    </div>



                    <div class="row justify-content-center">
                        {{ form_widget(form.ajouter) }}
                        {{ form_end(form) }}
                    </div>
                    <br>

                </div>
 <br>
            </div>
        </div>
    </div></section>
