
<h1>Gerant</h1>

<table class="table table-striped table-bordered  table-responsive-sm" align="center" id="usersTable" >
    <tbody>
    <tr>
        <th >Id_gerant</th>
        <td>{{ gerant.IdGerant }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ gerant.Nom }}</td>
    </tr>
    <tr>
        <th>Prenom</th>
        <td>{{ gerant.Prenom }}</td>
    </tr>
    <tr>
        <th>Date_nais</th>
        <td>{{ gerant.DateNais ? gerant.DateNais|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Ad_Email</th>
        <td>{{ gerant.AdEmail }}</td>
    </tr>
    <tr>
        <th>Cin</th>
        <td>{{ gerant.Cin }}</td>
    </tr>
    </tbody>

</table>