{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}Gerant{% endblock %}

{% block body %}
    <h1>Gerant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_gerant</th>
                <td>{{ gerant.IdGerant }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ gerant.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ gerant.Prenom }}</td>
            </tr>
            <tr>
                <th>Date_nais</th>
                <td>{{ gerant.DateNais ? gerant.DateNais|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ad_Email</th>
                <td>{{ gerant.AdEmail }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ gerant.Cin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gerant_index') }}" class="btn btn-dark">back to list</a>

    <a href="{{ path('gerant_edit', {'Id_gerant': gerant.Idgerant}) }}" class="btn btn-success ban-btn">modifier</a>
    <a href="{{ path('gerant_list', {'Id_gerant': gerant.Idgerant}) }}" class="btn btn-secondary">imprimer</a>
    {{ include('gerant/_delete_form.html.twig') }}
{% endblock %}
