{% extends 'base.html.twig' %}

{% block title %}Lister{% endblock %}
{% form_theme formoffre 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
    <h1 style="text-align: center">l'affichage des offres</h1>
    <table class="mb-0 table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre des places</th>
            <th>Date debut</th>
            <th>Date fin</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% if offre is not empty  %}
        {%  for o in offre %}
        <tr>
            <td>  {{ o.getId()}}   </td>
            <td >  {{ o.getNombrePlacesOffre() }} </td>
            <td >  {{ o.getDateDebutOffre() |date("m/d/Y")}} </td>
            <td >  {{ o.getDateFinOffre() |date("m/d/Y")}} </td>
            <td> <form  action="{{ path('Afficher_offre')}}" method="post"  >
                    <input id="in1" hidden type="number" value="{{ o.getId()}}" name="id" >
                    <input id="in2" hidden type="number" value="{{ o.getNombrePlacesOffre() }}" name="nombre" >
                    <input id="in3" hidden type="text" value="{{ o.getDateDebutOffre() |date("m/d/Y")}}" name="date_debut" >
                    <input id="in4" hidden type="text" value="{{ o.getDateFinOffre() |date("m/d/Y")}}" name="date_fin" >
                    <input id="in5" type="submit" value="Modifier" class="btn btn-dark">
                </form></td>
            <td> <form action="{{ path('Supprimer_offre')}}" method="post" onsubmit="return ConfirmDelete()">
                    <input id="in1" hidden type="number" value="{{ o.getId()}}" name="id" >
                    <input id="in4" type="submit" value="Supprimer"  class="btn btn-dark">
                </form>
                </td>
        </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
    <br>
    <button type="button" class="btn btn-dark" href="" data-toggle="modal" data-target="#createmodel" >Ajouter Offre</button>
    <div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(formoffre) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Offre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_row(formoffre.id, { 'label': 'Id' }) }}
                    {{ form_row(formoffre.nombre_places_offre, { 'label': 'Nombre des places' }) }}
                    {{ form_row(formoffre.date_debut_offre, { 'label': 'Date debut' }) }}
                    {{ form_row(formoffre.date_fin_offre, { 'label': 'Date fin' }) }}
                    <div class="modal-footer">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success"><i class="ti-save"></i> Enregistrer</button>
                </div>
                {{ form_end(formoffre) }}
            </div>
        </div>
    </div>
</form>
{% endblock %}