{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<body ng-controller="HomeController as home" ng-cloak class="home-page">
    <div id="home">
        <header class="header   page-home">




            <div class="header-left">
                <a href="index.html" class="header-logo">BestHost</a>
            </div>


        </header>

        <div id="home-wrapper" ng-init="people_to_follow(true); answer_favorites(null, null); answer_likes(null, null); current_user_id = null;" class="home-main">
            <div id="collection" class="question-profile">
                <div id="collection-topics">
                    <div class="collection-topic inner new-questions-heading hero-title">
                        <div class="intro">
                            <h2 class="title">Add a Post</h2>
                        </div>
                    </div>
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">

{{form_start(formForum)}}
<div class="form-group">
<label for="thread">Thread</label>
{{form_widget(formForum.thread)}}
</div>
<div class="form-group">
<label for="user">user</label>
{{form_widget(formForum.user)}}
</div>
<div class="form-group">
<label for="title">title</label>
{{form_widget(formForum.title)}}
</div>
<div class="form-group">
<label for="content">content</label>
{{form_widget(formForum.content)}}
</div>
{{form_widget(formForum)}}
<button type="submit" class="btn btn-success">Save</button>
{{form(formForum)}}
{{form_end(formForum)}}
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</body>
{% endblock %}
